body{
    background-color: bisque;
}

.outer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}

button{
    /* padding: 8px 35px; */
    background-color: rgb(52, 52, 241);
    color: white;
    border-radius: 5px;
    border:none;
    height: 36px;
    width: 100px;
    transition-duration: 0.5s;
    font-size: 14px;
}

button:hover{
background-color: blue;
color: white;
}

h1,h2{
    text-align: center;
}

h1,h2{
    text-align: center;
}

h1{    
    color: green;
    background-color: white;
    /* display: inline; */
}

h2 {
    color: brown;
}

p{
    text-align: center;
    font-weight: bold;
}

.popup{
    background-color: #fafafa;
    width: 666px;
    height:222px;
    border-radius: 26px;
    text-align: center;
    display: none;
    transform: all 0.5s ease;
    transition-duration: 1s;
}

#showbtn{
    margin : 200px auto;
}

#closebtn{
    margin-top: 3px;
}

.popup button{
    margin-top: 6px;
}


